<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conecta 4</title>
</head>
<body>
  <!-- Header -->
<div style="padding-left: 50px; padding-right: 50px; padding-top: 20px">
  <nav id="nav" class="navbar">
    <a class="navbar-brand" href="#">
      <img width="150" alt="Face Logo" src="../assets/logo-face.png" />
    </a>
    <div>
      <h1 id="titulo">{{ title }}</h1>
    </div>
    <a class="navbar-brand" href="#">
      <img width="150" alt="ICI Logo" src="../assets/logo-face.png" />
    </a>
  </nav>
</div>

<!-- Fin Header -->
<br />
<br />

<!-- Card con los datos de los jugadores   y Mensajes -->
<div class="col-md-4" style="padding-left: 50px; float: left; padding-right: 50px">
  <div id="identificador" class="card">
    <div class="card-body">
      <button id="btn" type="button" class="btn btn-primary">
        Nuevo Juego
      </button>
      <button id="btn" type="button" class="btn btn-primary">Comenzar</button>
      <h5 class="card-title">Jugador/a 1:</h5>
      <input id="input-p" type="text" />
      <button id="btn-p" type="button">
        <img src="../assets/player1.png" alt="Ficha P1" width="50" />
      </button>
      <h5 class="card-title">Jugador/a 2:</h5>
      <input id="input-p" type="text" />
      <button id="btn-p" type="button">
        <img src="../assets/player2.png" alt="Ficha P2" width="50" />
      </button>
    </div>
  </div>
  <br />
  <br />
  <h1 style="padding-left: 15px">Mensajes</h1>
  <div id="identificador">
    <INPUT id="mensaje" disabled />
  </div>
</div>

<!-- Fin Card con los datos de los jugadores y Mensajes   -->

<!-- Tablero  -->
<div class="table-responsive col-md-7" style="float: left; padding-left: 50px; float: left; padding-right: 50px; text-align: center;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><button id="btn-num" class="btn btn-primary">1</button></th>
        <th><button id="btn-num" class="btn btn-primary">2</button></th>
        <th><button id="btn-num" class="btn btn-primary">3</button></th>
        <th><button id="btn-num" class="btn btn-primary">4</button></th>
        <th><button id="btn-num" class="btn btn-primary">5</button></th>
        <th><button id="btn-num" class="btn btn-primary">6</button></th>
        <th><button id="btn-num" class="btn btn-primary">7</button></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img class="img-fluid img-player" :src="../assets/empty.png" alt="" />
        </td>
        <td>
          <img class="img-fluid img-player" :src="../assets/empty.png" alt="" />
        </td>
        <td>
          <img class="img-fluid img-player" :src="../assets/empty.png" alt="" />
        </td>
        <td>
          <img class="img-fluid img-player" :src="../assets/empty.png" alt="" />
        </td>
        <td>
          <img class="img-fluid img-player" :src="../assets/empty.png" alt="" />
        </td>
        <td>
          <img class="img-fluid img-player" :src="../assets/empty.png" alt="" />
        </td>
        <td>
          <img class="img-fluid img-player" :src="../assets/empty.png" alt="" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Fin Tablero  -->

<!-- Foother -->

<footer class="bg-light text-center text-lg-start">
 
  <div class="text-center p-3" style="color: black ; font-size: 30px;" >
    Estudiantes: Fernando Sánchez Espinoza / José Unda Montecinos - Desarrollo Frontend con Angular (2022)
  </div>
</footer>

<!-- Fin Footer -->
</body>
</html>


